# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/logs/

# Flutter
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/build/
flutter_app/*.iml
flutter_app/.packages

# General
.DS_Store
*.log
*.tmp
Thumbs.db

# Secrets
*.jks
*.keystore
key.properties
google-services.json
GoogleService-Info.plist
